/* Add CSS Styling */

.odd-num {
    background-color: #FFCCCB;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#first-id {
    color: #0000FF;
    font-size: 36px;
}

#sec-id {
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}